<% content_for :meta_title, "#{sanitize @education_content.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "#{sanitize @education_content.description}" %>
<% if @education_content.thumbnail.attached? %>
  <% content_for :meta_image, cl_image_path(@education_content.thumbnail.key) %>
<% else %>
  <%= content_for :meta_image, "https://images.unsplash.com/photo-1518546305927-5a555bb7020d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80" %>
<% end %>

<!-- Article thumbnail -->
<div class="article_banner">
  <% if @education_content.thumbnail.attached? %>
    <div class="article_thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @education_content.thumbnail.key %>')">
      <%= render 'components/banner_educontent' %>
    </div>

  <% else %>
    <div class="article_thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1518546305927-5a555bb7020d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80')">
      <%= render 'components/banner_educontent' %>
    </div>
  <% end %>
</div>

<div class="primary-container">

  <!-- Article icons -->
  <div class="article_icons">
    <!-- like button -->
    <div class="likes">
      <div class="like-count">
        <%= render 'education_contents/likes', education_content: @education_content %>
      </div>

      <div class="like-link">
        <%= render 'education_contents/like_link', education_content: @education_content %>
      </div>
    </div>

    <!-- social-share-button -->
    <div class="social-share-btn">

      <!-- To include Twitter hashtags copy+paste "&hashtags={hash_tags}" to the end of href and replace "{hash_tags}" -->
      <a href="https://twitter.com/intent/tweet?url=<%= request.original_url %>&text=<%= "#{@education_content.title}" %>+&via=finmates_co" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;">
          <i class="fab fa-twitter-square"></i>
      </a>

    </div>
  </div>
  <br>
  <!-- Article abstract -->
  <div class="article_abstract">
    <p><%= sanitize @education_content.description %></p>
  </div>

  <!-- Article content -->
  <div class="article_content">
    <p><%= sanitize @education_content.edu_content %></p>
  </div>

  <!-- Comments -->
  <!-- SEE OWN CONTENT -->
</div>
