  <div class="primary-container">

 <%= link_to "<<", own_contents_path, class: "btn btn-sm btn-outline-dark mb-3" %></h1>

  <div class="article-title">
    <h1><%= @own_content.title %></h1>
  </div>

  <div class="article-category">
    <h5><%= @own_content.category %></h5>
  </div>

  <div class="article-date">
    <p><%= @own_content.created_at.strftime("%B %d, %Y") %></p>
  </div>

  <!-- Article thumbnail -->
  <div class="article_thumbnail">
    <% if @own_content.own_content_thumb.attached? %>
      <%= cl_image_tag @cocktail.thumbnail.key, class: "article_thumb" %>
    <% else %>
      <%= image_tag 'https://images.unsplash.com/photo-1518546305927-5a555bb7020d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80', class: "article_thumb" %>
    <% end %>
  </div>

  <!-- Article icons -->
  <div class="article_icons">
    <!-- like button -->
    <div class="likes">
      <div class="like-count">
        <%= render 'own_contents/likes', own_content: @own_content %>
      </div>

      <div class="like-link">
        <%= render 'own_contents/like_link', own_content: @own_content %>
      </div>
    </div>

    <!-- social-share-button -->
    <div class="social-share-btn">
      <%= social_share_button_tag(@own_content.title, :url => "finmates.com#{own_content_path(@own_content)}", desc: @own_content.description) %>
    </div>
  </div>

  <!-- Article abstract -->
  <div class="article_abstract">
    <p><%= @own_content.description %></p>
  </div>

  <!-- Article content -->
  <div class="article_content">
    <p><%= @own_content.article %></p>
  </div>

  <!-- Comments -->
  <div class="comments-title">
    <h1>Comments</h1>
  </div>

  <%= simple_form_for [ @own_content, @own_content_comment ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Comment on ##{@own_content.title}" %>
    <div class="comment-submit">
      <%= f.submit "Post", class: "btn-comment" %>
    </div>
  <% end %>

  <div id="own_content_comments" data-own_content-id="<%= @own_content.id %>">
    <% @own_content.own_content_comments.each do |own_content_comment| %>
      <%= render 'own_content_comments/own_content_comment', own_content_comment: own_content_comment %>
    <% end %>
  </div>

</div>
