<% content_for :meta_title, "#{sanitize @own_content.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "#{sanitize @own_content.description}" %>
<% content_for :meta_image, cl_image_path(@own_content.photo.key) %>

<!-- <script>
window.fbAsyncInit = function() {
  FB.init({
    appId : '199160927992724',
    autoLogAppEvents : true,
    xfbml : true,
    version : 'v7.0'
  });
  // FB.AppEvents.logPageView();
};

(function(d, s, id){
   var js, fjs = d.getElementsByTagName(s)[0];
   if (d.getElementById(id)) {return;}
   js = d.createElement(s); js.id = id;
   js.src = "//connect.facebook.net/en_US/sdk.js";
   fjs.parentNode.insertBefore(js, fjs);
 }(document, 'script', 'facebook-jssdk'));
</script> -->

<div class="primary-container">
   <div class="d-flex justify-content-between">
      <%= link_to newsfeed_path do %>
        <i class="fa fa-chevron-left" aria-hidden="true"></i>
      <% end %>

      <!-- Favourite button -->
      <div>
        <%= link_to own_content_favourites_path(@own_content), method: :post,  class:"pl-1 nav-button" do %>
          <% if current_user.favourites.map { |fav| fav.own_content }.include?(@own_content) %>
            <i class="pl-3 fas fa-heart fa-lg ct-primary-light"></i>
          <% else %>
            <i class="pl-3 far fa-heart fa-lg ct-primary-light"></i>
          <% end %>
        <% end %>

      <!-- Admin features -->
        <% if current_user.admin %>
          <%= link_to "Edit", edit_own_content_path(@own_content) %>
          <%= link_to "Delete", own_content_path(@own_content), method: :delete %>
        <% end %>
      </div>
    </div>

  <div class="article-title">
    <h1><%= sanitize @own_content.title %></h1>
  </div>

  <div class="article-category">
    <h5><%= @own_content.category %></h5>
  </div>

  <div class="article-credentials">
    <div class="author-avatar">
      <% if @own_content.user.avatar.attached? %>
        <%= cl_image_tag @own_content.user.avatar.key, class: "avatar-small" %>
      <% else %>
        <%= image_tag("avatar-placeholder.png", class: "avatar-small") %>
      <% end %>
    </div>

    <div class="publishing-details">
      <p class="author-name"><%= "#{@own_content.user.first_name} #{@own_content.user.last_name}" %></p>
      <p><%= "#{@own_content.created_at.strftime("%B %d, %Y")} - #{@own_content.reading_time} min read" %></p>
    </div>
  </div>


  <!-- Article thumbnail -->
  <div class="article_thumbnail">
    <% if @own_content.photo.attached? %>
      <%= cl_image_tag @own_content.photo.key, class: "article_thumb" %>
    <% else %>
      <%= image_tag 'https://images.unsplash.com/photo-1518546305927-5a555bb7020d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80', class: "article_thumb" %>
    <% end %>
  </div>

  <!-- Article icons -->
  <div class="article_icons">
    <!-- like button -->
    <div class="likes">
      <div class="like-count">
        <%= render 'own_contents/likes', own_content: @own_content %>
      </div>

      <div class="like-link">
        <%= render 'own_contents/like_link', own_content: @own_content %>
      </div>
    </div>

    <!-- social-share-button -->
    <div class="social-share-btn">
      <ul class="social-sharing">
        <li>
          <!-- To include Twitter hashtags copy+paste "&hashtags={hash_tags}" to the end of href and replace "{hash_tags}" -->
          <a href="https://twitter.com/intent/tweet?url=<%= request.original_url %>&text=<%= "#{@own_content.title}" %>+&via=finmates_co" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;">
              <i class="fab fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/dialog/share?app_id=199160927992724&display=popup&href=<%= request.original_url %>&redirect_uri=<%= request.original_url %>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;">
            <i id="shareBtn" class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= request.original_url %>&amp;title=<%= "#{@own_content.title}" %>&amp;source=finmates.co" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>

      <%#= social_share_button_tag(sanitize @own_content.title, :url => "#{own_content_path(@own_content)}", desc: "#{@own_content.description}") %>
    </div>
  </div>

  <!-- Article abstract -->
  <div class="article_abstract">
    <p><%= sanitize @own_content.description %></p>
  </div>

  <!-- Article content -->
  <div class="article_content">
    <p><%= sanitize @own_content.article %></p>
  </div>

  <!-- Comments -->
  <div class="comments-title">
    <h1>Comments</h1>
  </div>

  <%= simple_form_for [ @own_content, @own_content_comment ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Comment on ##{@own_content.title}" %>
    <div class="comment-submit">
      <%= f.submit "Post", class: "btn-comment" %>
    </div>
  <% end %>

  <div id="own_content_comments" data-own_content-id="<%= @own_content.id %>">
    <% @own_content.own_content_comments.each do |own_content_comment| %>
      <%= render 'own_content_comments/own_content_comment', own_content_comment: own_content_comment %>
    <% end %>
  </div>
</div>

<!-- <script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    display: 'popup',
    method: 'share',
    href: window.location.href,
  }, function(response){});
}
</script> -->
<!-- <script async defer src="https://connect.facebook.net/en_US/sdk.js"></script> -->
