<% content_for :meta_title, "#{sanitize @own_content.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, "#{sanitize @own_content.description, tags: %w()}" %>
<% if @own_content.photo.attached? %>
  <% content_for :meta_image, cl_image_path(@own_content.photo.key) %>
<% else %>
  <%= content_for :meta_image, "https://images.unsplash.com/photo-1518546305927-5a555bb7020d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80" %>
<% end %>

<!-- Article thumbnail -->
<div class="article_banner">
  <% if @own_content.photo.attached? %>
    <div class="article_thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @own_content.photo.key %>')">
      <%= render 'components/banner_owncontent' %>
    </div>

  <% else %>
    <div class="article_thumbnail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1518546305927-5a555bb7020d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80')">
      <%= render 'components/banner_owncontent' %>
    </div>
  <% end %>
</div>

<div class="primary-container">

  <!-- Article icons -->
  <div class="article_icons">
    <!-- like button -->
    <div class="likes">
      <div class="like-count">
        <%= render 'own_contents/likes', own_content: @own_content %>
      </div>

      <div class="like-link">
        <%= render 'own_contents/like_link', own_content: @own_content %>
      </div>
    </div>

    <!-- social-share-button -->
    <div class="social-share-btn-article">

      <!-- To include Twitter hashtags copy+paste "&hashtags={hash_tags}" to the end of href and replace "{hash_tags}" -->
      <a class="twitter-link" href="https://twitter.com/intent/tweet?url=<%= request.original_url %>&text=<%= "#{@own_content.title}" %>+&via=finmates_co" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;">
        <i class="fab fa-twitter-square"></i>
      </a>

      <a href="https://www.facebook.com/dialog/share?app_id=307358133764324&display=popup&href=<%= request.original_url %>&redirect_uri=<%= request.original_url %>" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;">
        <i id="shareBtn" class="fab fa-facebook-square"></i>
      </a>

      <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=<%= request.original_url %>&amp;title=<%= "#{@own_content.title}" %>&amp;source=finmates.co" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=240,width=600');return false;">
        <i class="fab fa-linkedin"></i>
      </a>

    </div>
  </div>
  <br>
  <!-- Article abstract -->
  <div class="article_abstract">
    <p><%= sanitize @own_content.description %></p>
  </div>

  <!-- Article content -->
  <div class="article_content">
    <% if user_signed_in? %>
      <p><%= sanitize @own_content.article %></p>
    <% else %>
      <div class="blurry-paywall">
        <p><%= sanitize @own_content.article.truncate_words(50, seperator: /\s/) %></p>
      </div>
      <div class="read-full-story">
        <p><strong>TO READ THE FULL STORY</strong></p>
      </div>
      <div class="flex-sign-up-login-btn">
        <%= link_to "Sign up", new_user_registration_path, class: "btn-horizontal-gradient" %>
        <%= link_to "Log in", new_user_session_path, class: "btn-horizontal-white" %>
      </div>
    <% end %>
  </div>

  <!-- Comments -->
  <div class="comments-title">
    <h2>Comments</h2>
  </div>

  <%= simple_form_for [ @own_content, @own_content_comment ], html: { id: :comment_form }, remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Comment on ##{@own_content.title}", :input_html => { :id => "enter_submit" } %>
    <div class="comment-submit">
      <%= f.submit "Post", class: "btn-comment" %>
    </div>
  <% end %>

  <div id="own_content_comments" data-own_content-id="<%= @own_content.id %>">
    <% @own_content.own_content_comments.each do |own_content_comment| %>
      <%= render 'own_content_comments/own_content_comment', own_content_comment: own_content_comment %>
    <% end %>
  <br><br>
  </div>
</div>
