<div class="forms-container py-4">
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :avatar, as: :file, label: "Avatar"%>
    <%= f.button :submit, "Upload", class: "btn-gradient" %>
  <% end %>
</div>

