<div class="primary-container">
  <div class="forms-container">
    <div class="form-update">
      <%= simple_form_for @user do |f| %>
        <%= f.input :first_name %>
        <%= f.input :last_name %>
        <%= f.input :email %>
        <%= f.input :nickname %>
        <%= f.button :submit, "Update", class: "btn-gradient" %>
      <% end %>
    </div>
  </div>
</div>
