<div class="forms-container px-2 py-4">
  <%= simple_form_for @user do |f| %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :nickname %>
    <%= f.button :submit, "Update", class: "btn-gradient" %>
  <% end %>
</div>

