<div class="container-dashboard"  style ="text-align: center">
    <br>
<<<<<<< HEAD
    <h3><strong>Hello <%= @userName %>!</strong></h3>
  <div class="col-x"; display: block;">
=======
    <h5>Hello <%= @userName %>!</h5>
  <div class="col-x" style ="text-align: center; display: block;">
>>>>>>> master
    <br>

<%= cl_image_tag @user.photo.key, height: 300px, width: 300px, crop: fill %>

<div class="form-inputs">
      <%= simple_form_for(user) do |f| %>
      <%= f.input :photo, as: :file %>
      <% end %>
</div>
    <br><br><br>

  <div class="container" style="justify-content: center">
    <h2><strong>Account</strong></h2>
    <hr></hr>

        <h6><strong>Nickname: </strong><%= @nickname %></h6>
          <br>
        <h6>Email: <%= @userEmail %></h6>
          <br>
        <h6>Push Notifications:  Y/N</h6>
          <br>
        <h6>Manage Preferences</h6>
          <br>

        <h6><strong>Manage Preferences:</strong></h6>
        <h6>Free Trial Period</h6>
          <br>
        <hr></hr>

    <div class="row" style="justify-content: center">
        <h5><%= link_to "Log out", destroy_user_session_path, method: :delete %></h5>
    </div>
  </div>
</div>

<script>
  function onTabClick(event) {
  let activeTabs = document.querySelectorAll('.active');

  // deactivate existing active tab and panel
  // for( let i = 0; i < activeTabs.length; i++) {
  //   activeTabs[i].className = activeTabs[i].className.replace('active-tab', '');
  // }

  activeTabs.forEach(function(tab) {
    tab.className = tab.className.replace('active', '');
  });

  // activate new tab and panel
  event.target.parentElement.className += ' active';
  document.getElementById(event.target.href.split('#')[1]).className += ' active';
}

  const element = document.getElementById('nav-tab');

  element.addEventListener('click', onTabClick, false);

</script>

