<div class="container-dashboard"  style ="text-align: center">
  <br>
  <h5>Hello <%= @nickname || @firstName %>!</h5>

  <% if current_user.avatar.attached? %>
    <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(@user.avatar.key) %>')">
      <a class="avatar-edit" data-toggle="modal" data-target="#avatarModal"><i class="far fa-edit"></i></a>
    </div>
  <% elsif current_user.facebook_picture_url? %>
    <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= image_path(@user.facebook_picture_url) %>')">
      <a class="avatar-edit" data-toggle="modal" data-target="#avatarModal"><i class="far fa-edit"></i></a>
    </div>

  <% else %>
    <div class="avatar-large" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('avatar-placeholder.png')">
      <a class="avatar-edit" data-toggle="modal" data-target="#avatarModal"><i class="far fa-edit"></i></a>
    </div>
  <% end %>

  <br>
  <h5>Account Details</h5>
  <hr></hr>

  <div class="account-details" style="text-align: left">
      <p>NICKNAME</p>
      <p><i class="fa fa-user-circle icons" aria-hidden="true"></i> <%= @nickname %></p>
          <hr></hr>

      <p>FIRST NAME</p>
      <p><i class="fa fa-user-circle icons" aria-hidden="true"></i> <%= @firstName %></p>
          <hr></hr>

      <p>LAST NAME</p>
      <p><i class="fa fa-user-circle icons" aria-hidden="true"></i> <%= @lastName %></p>
          <hr></hr>

      <p> EMAIL </p>
      <p><i class="fa fa-address-card icons" aria-hidden="true"></i> <%= @userEmail %></p>
          <hr></hr>

      <!-- <p> NOTIFICATIONS </p>
      <p><i class="fa fa-eye icons" aria-hidden="true"></i> ON / OFF </p>
      <p> MANAGE PREFERENCES </p>
      <p><i class="fa fa-credit-card icons" aria-hidden="true"></i> Free Trial Period</p> -->

      <div class="row" style="justify-content: center">
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn-white" %>
      </div>
  </div>
  <%= render 'shared/avatar_modal'%>
</div>

<!-- OPTIONS FOR TABS LATER --- <script>
  function onTabClick(event) {
  let activeTabs = document.querySelectorAll('.active');
  // deactivate existing active tab and panel
  // for( let i = 0; i < activeTabs.length; i++) {
  //   activeTabs[i].className = activeTabs[i].className.replace('active-tab', '');
  // }
  activeTabs.forEach(function(tab) {
    tab.className = tab.className.replace('active', '');
  });
  // activate new tab and panel
  event.target.parentElement.className += ' active';
  document.getElementById(event.target.href.split('#')[1]).className += ' active';
}
  const element = document.getElementById('nav-tab');
  element.addEventListener('click', onTabClick, false);
</script>
 -->
