<div class="container-dashboard"  style ="text-align: center">
    <br>
    <h3><strong>Hello <%= @userName %>!</strong></h3>
  <div class="col-x"; display: block;">
    <br>
      <%= simple_form_for(article) do |f| %>
  <!-- [...] -->
  <%= f.input :photo, as: :file %>
  <!-- [...] -->
<% end %>

    <br><br><br>

  <div class="container" style="justify-content: center">
    <h2><strong>Account</strong></h2>
    <hr></hr>

  <!-- Tab panes -->
  <div class="tab-content">
      <div class="tab-pane active" id="account-info">

        <h6><strong>Nickname: </strong><%= @nickname %></h6>
          <br>
        <h6><strong>Email: </strong><%= @userEmail %></h6>
          <br>
        <h6><strong>Push Notifications: </strong> Y/N</h6>
          <br>
        <h6><strong>Manage Preferences:</strong></h6>
        <h6>Free Trial Period</h6>
          <br>
        <hr></hr>

    <div class="row" style="justify-content: center">
        <h5><%= link_to "Log out", destroy_user_session_path, method: :delete %></h5>
    </div>

  </div>
</div>

<script>
  function onTabClick(event) {
  let activeTabs = document.querySelectorAll('.active');

  // deactivate existing active tab and panel
  // for( let i = 0; i < activeTabs.length; i++) {
  //   activeTabs[i].className = activeTabs[i].className.replace('active-tab', '');
  // }

  activeTabs.forEach(function(tab) {
    tab.className = tab.className.replace('active', '');
  });

  // activate new tab and panel
  event.target.parentElement.className += ' active';
  document.getElementById(event.target.href.split('#')[1]).className += ' active';
}

const element = document.getElementById('nav-tab');

element.addEventListener('click', onTabClick, false);

</script>

