<div class="container-dashboard">
    <br>
    <h3><strong>Hello <%= @userName %>!</strong></h3>
  <div class="col-x"style ="text-align: center;
        display: block;">
    <br>
      <%= image_tag 'user_tim.png' %>
    <br><br><br>
  </div>

  <div class="row" style="justify-content: center">
     <div class="col-6" id=user-info>

      <h5><strong>Account Info</strong></h5>
      <h6><strong>Name: </strong><%= @userName %></h6>
        <br>
      <h6><strong>Email: </strong><%= @userEmail %></h6>
        <br>
      <h6><strong>Push Notifications: </strong> Y/N</h6>
        <br>
      <h6><strong>Manage Preferences</strong></h6>
      <h6>Payments</h6>
    </div>

    <div class="col-6" id="user-fav">
      <h5>Favourites</h5>
    <br>

  </div>

  </div>
  <br>
    <div class="row" style="justify-content: center">
       <h5><%= link_to "Log out", destroy_user_session_path, method: :delete %></h5>
    </div>
  </div>
</div>
