<div class="nav">

  <!-- Finmates Logo -->
  <div class="fmlogo">
    <%= link_to image_tag('fm_heading.png'), newsfeed_path %>
  </div>


  <!-- <div class=""> -->
    <% if user_signed_in? %>
    <!-- Burger Menu Image -->
        <div class="burger">
          <div class="line1"></div>
          <div class="line2"></div>
          <div class="line3"></div>
        </div>

  <!-- Burger Menu -->
        <div class="nav-links">
          <li><%= link_to image_tag('news-text.png', class: "nav-link" ),  newsfeed_path %></li>
          <li><%= link_to image_tag('content-text.png', class: "nav-link"), library_path %></li>
          <li><%= link_to image_tag('favourites-text.png', ), class: "nav-link" %></li>
          <li><%= link_to image_tag('profile-text.png', :alt => "My Profile", class: "nav-link"), user_path(current_user.id) %></li>
    <% else %>
        <%= link_to "LOG IN", new_user_session_path, class: "form-actions btn-login" %>
    <% end %>
  </div>
</div>
<!-- </div> -->

<!-- JS - Nav Menu Slide -->
 <script>
   const navSlide = () => {
      const burger = document.querySelector('.burger');
      const nav = document.querySelector('.nav-links');
      const navLinks = document.querySelectorAll('.nav-links li');

      burger.addEventListener('click', () => {
        // Toggle Nav
        nav.classList.toggle('nav-active');

      //Animate Links
      navLinks.forEach((link, index) => {
        if (link.style.animation) {
            link.style.animation = '';
        } else {
          link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.5}s`;
        }
      });
      //Burger Animation
      burger.classList.toggle('cross');
    });
  }

  navSlide ();

 </script>

