<div class="nav navbar fixed-top mb-3">

  <!-- Finmates Logo -->
  <div class="fmlogo">
    <%= link_to image_tag('fm_heading.png'), newsfeed_path %>
  </div>

  <!-- SIGNED IN - Burger Menu Image -->
  <% if user_signed_in? %>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

    <!-- Burger Menu -->
      <div class="nav-links">
        <ul class="navbar-menu">
          <li class="menu-item">
            <a id="newsfeed" href="<%= newsfeed_path %>"><%= image_tag('news-text.png') %>Newsfeed</a>
          </li>
          <li class="menu-item">
            <a id="library" href="<%= library_path %>"><%= image_tag('content-text.png') %>Library</a>
          </li>
          <li class="menu-item">
            <a id="favourites" href="<%= favourites_path %>"><%= image_tag('favourites-text.png') %>Favourites</a>
          </li>
          <li class="menu-item">
            <a id="<%= current_user.id %>" href="<%= user_path(current_user.id) %>"><%= image_tag('profile-text.png') %>Profile</a>
          </li>
          <% if current_user.admin %>
            <li class="menu-item">
              <a id="new" href="<%= new_own_content_path %>"><%= image_tag('add_box_24px.png') %>Add Content</a>
            </li>
          <% end %>
        </ul>
      </div>

  <!-- NOT SIGNED IN - Burger Menu Image -->
  <% else %>
    <div class="burger">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>

    <!-- Burger Menu -->
      <div class="nav-links">
        <ul class="navbar-menu">
          <li class="menu-item">
            <a id="newsfeed" href="<%= newsfeed_path %>"><%= image_tag('news-text.png') %>Newsfeed</a>
          </li>
          <li class="menu-item">
            <a id="library" href="<%= library_path %>"><%= image_tag('content-text.png') %>Library</a>
          </li>
          <li>
            <%= link_to "LOG IN", new_user_session_path, class: "btn-white", id: "sml" %>
          </li>
        </ul>
      </div>
  <% end %>
</div>

<!-- JS - Nav Menu Slide -->
<script>
   const navSlide = () => {
      const burger = document.querySelector('.burger');
      const nav = document.querySelector('.nav-links');
      const navLinks = document.querySelectorAll('.nav-links li');

      burger.addEventListener('click', () => {
        // Toggle Nav
        nav.classList.toggle('nav-active');

      //Animate Links
      navLinks.forEach((link, index) => {
        if (link.style.animation) {
            link.style.animation = '';
        } else {
          link.style.animation = `navLinkFade 0.5s ease forwards ${index / 7 + 0.5}s`;
        }
      });
      //Burger Animation
      burger.classList.toggle('cross');
    });
  }

  navSlide ();
 </script>
