<div class="lp-top">

<!-- BANNER -->
  <section id="banner">

    <div class="banner">
      <div class="banner-content">
        <div class="banner-slogan">
          <h1>Lorem ipsum Lorem ipsum Lorem ipsum<div id="typing" class="typing"></div></h1>
        </div>

        <%= link_to '#' do %>
          <button class="btn-white"> Start free trial! </button>
        <% end %>
      </div>

      <div class="banner-img">
        <%= image_tag 'banner-img.png' %>
      </div>
    </div>
  </section>

  <!-- WHAT-WE-PROVIDE-SECTION -->
  <section id="our-provision">

    <div class="primary-container">

      <!-- 1. Feature -->
      <div class="what-we-provide">
        <div class="text-1">
          <h2>1. What we provide</h2>

          <p>Cras mush pardon you knees up he lost his bottle it's all gone to pot faff about porkies arse, barney argy-bargy cracking goal loo cheers spend.!</p>

          <%= link_to '#' do %>
            <button class="btn-gradient"> Start free trial! </button>
          <% end %>

        </div>

        <div class="iphone-1">
          <%= image_tag('lp-iphone-1.png') %>
        </div>
      </div>

      <!-- 2. Feature -->
      <div class="what-we-provide">
        <div class="iphone-2">
          <%= image_tag('lp-iphone-1.png') %>
        </div>

        <div class="text-2">
          <h2>2. What we provide</h2>

          <p>Cras mush pardon you knees up he lost his bottle it's all gone to pot faff about porkies arse, barney argy-bargy cracking goal loo cheers spend.!</p>

          <%= link_to '#' do %>
            <button class="btn-gradient"> Start free trial! </button>
          <% end %>

        </div>
      </div>

      <!-- 3. Feature -->
      <div class="what-we-provide">
        <div class="text-3">
          <h2>3. What we provide</h2>

          <p>Cras mush pardon you knees up he lost his bottle it's all gone to pot faff about porkies arse, barney argy-bargy cracking goal loo cheers spend.!</p>

          <%= link_to '#' do %>
            <button class="btn-gradient"> Start free trial! </button>
          <% end %>

        </div>

        <div class="iphone-3">
          <%= image_tag('lp-iphone-1.png') %>
        </div>
      </div>

    </div>
  </section>

  <!-- YOUR BENEFITS -->
  <section id="your-benefits">


    <div class="primary-container">
      <div class="benefits-container">

        <div class="benefits-content">

          <div class="benefit-1">
            <div class="icon-1">
              <i class="fab fa-bitcoin"></i>
            </div>
            <div class="benefit-text-1">
              <h5>Benefit 1</h5>
              <p>Cras mush pardon you knees up he lost his bottle</p>
            </div>
          </div>

          <div class="benefit-2">
            <div class="icon-2">
              <i class="fab fa-bitcoin"></i>
            </div>
            <div class="benefit-text-2">
              <h5>Benefit 2</h5>
              <p>Cras mush pardon you knees up he lost his bottle</p>
            </div>
          </div>

          <div class="benefit-3">
            <div class="icon-3">
              <i class="fab fa-bitcoin"></i>
            </div>
            <div class="benefit-text-3">
              <h5>Benefit 3</h5>
              <p>Cras mush pardon you knees up he lost his bottle</p>
            </div>
          </div>
        </div>

        <div class="benefits-silver-platter">
          <%= image_tag('silver-platter.png') %>
        </div>

      </div>
    </div>
  </section>

  <section id="who-are-we">
    <div class="primary-container">

      <div class="who-are-we-card-1">
        <div class="who-are-we-photo">
          <%= image_tag('earl.png') %>
        </div>
        <p>Hallo Earl Quinlan</p>
      </div>

      <div class="who-are-we-card-1">
        <div class="who-are-we-photo">
          <%= image_tag('prateek.png') %>
        </div>
        <p>Prateek Mahindra</p>
      </div>

      <div class="who-are-we-card-1">
        <div class="who-are-we-photo">
          <%= image_tag('tim.png') %>
        </div>
        <p>Tim Vierboom</p>
      </div>

    </div>
  </section>

</div>

<!-- TYPING-EFFECT -->
<script>
  var typeString = ['lorem.  ', 'ipsum.  ', 'lorem.  '];
  var  i = 0;
  var count = 0
  var selectedText = '';
  var text = '';
  (function type() {
    if (count == typeString.length) {
      count = 0;
    }
    selectedText = typeString[count];
    text = selectedText.slice(0, ++i);
    document.getElementById('typing').innerHTML = text;
    if (text.length === selectedText.length) {
      count++;
      i = 0;
    }
    setTimeout(type, 200);
  }());

  function sleep(milliseconds) {
  var start = new Date().getTime();
  for (var i = 0; i < 1e7; i++) {
    if ((new Date().getTime() - start) > milliseconds){
      break;
      }
    }
  }
</script>
