<div class="primary-container-newsfeed">
  <div class="mx-3 my-4 py-5">
    <br>
      <div class="search-form">
        <div class="search-form-input">
          <%= form_tag library_path, method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Try 'Bitcoin'"
            %>
        </div>
        <div class="search-form-submit">
          <%= submit_tag "Search", class: "btn-gradient" %>
          <% end %>
        </div>
      </div>

    <br>
    <br>
    <br>
    <h5>News, Updates, and Fun Stuff 📰 🙌 </h5>
    <br>
    <% if @own_contents.empty? %>
      <div class="py-2">
        <p>🤓 Oops! We don't have that just yet, try something else.</p>
      </div>
    <% else %>
      <% @own_contents.each do |own_content| %>
        <%= link_to own_content_path(own_content) do %>
          <%= render 'components/card', own_content: own_content %>
          <br>
        <% end %>
      <% end %>
    <% end %>

    <br>
    <br>
    <br>
    <br>
    <h5>Learning Units 📚 🙇</h5>
    <br>
    <% if @education_contents.empty? %>
      <div class="py-2">
        <p>🤓 Oops! We don't have that just yet, try something else.</p>
      </div>
    <% else %>
      <div class="cardsGrid">
        <% @education_contents.each do |edu_content| %>
          <%= link_to education_content_path(edu_content) do %>
            <%= render 'components/cardGrid', edu_content: edu_content %>
            <br>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <hr></hr>
</div>
