
<div class="primary-container-newsfeed">
  <div class="m-3">

    <br>
    <script src="https://widgets.coingecko.com/coingecko-coin-price-static-headline-widget.js"></script>
    <coingecko-coin-price-static-headline-widget  coin-ids="bitcoin,ethereum,litecoin" currency="usd" locale="en"></coingecko-coin-price-static-headline-widget>
    <br>

    <h5><%= current_user.first_name %>, here is your bit-size news 💸</h5>
    <br>
    <p> News from <strong><%= @week_date.strftime("%B %d, %Y")  %></strong> to <strong> <%= Date.today().strftime("%B %d, %Y") %> </strong> </p>
    <br>
    <% if @today_content.empty? %>
        <p>Apologies, our newspaper boy is on his way to deliver the latest news from the crypto world!</p>
    <% else %>
      <% @today_content.each do |content| %>
        <%= link_to own_content_path(content) do %>
          <%= render 'components/card', content: content %>
          <br>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <hr></hr>
  <div class="m-3">
    <div class="d-flex justify-content-between">
      <h5>Did you know?</h5>
      <% if current_user.admin %>
          <%= link_to "Add", new_didyouknow_path %>
        <% end %>
    </div>

    <% if @didyouknows.empty? %>
        <p>Apologies, our minions are currently working really hard to get the latest content to you!</p>


  <!-- Carousel attempt using bootstrap -->

      <% else %>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= render 'components/thirdpartycard', did_you_know: @didyouknows.first  %>
          </div>
          <% @didyouknows.each_with_index do |dyk_slide, i| %>
              <% if i > 0 %>
                <div class="carousel-item">
                 <%= render 'components/thirdpartycard', did_you_know: dyk_slide %>
                </div>
              <% end %>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <% end %>
  </div>

  <hr></hr>
  <div class="m-3">
    <a class="twitter-timeline" data-width="100%" data-height="450" href="https://twitter.com/finmates_co?ref_src=twsrc%5Etfw">Tweets by finmates_co</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>

</div>

