
<div class="primary-container-newsfeed">
  <div class="m-3">
    <br>
    <h5><%= current_user.first_name %>, here is your bit-size news 💸</h5>
    <br>
    <p> News from <strong><%= @week_date.strftime("%B %d, %Y")  %></strong> to <strong> <%= Date.today().strftime("%B %d, %Y") %> </strong> </p>
    <br>
    <% @today_content.each do |content| %>
      <%= link_to own_content_path(content) do %>
        <%= render 'components/card', content: content %>
        <br>
      <% end %>
    <% end %>
  </div>
  <hr></hr>
  <div class="m-3">
    <h5>Top Daily Picks</h5>


  <!-- Carousel attempt using bootstrap -->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= render 'components/thirdpartycard' %>
        </div>
        <div class="carousel-item">
          <%= render 'components/thirdpartycard' %>
        </div>
        <div class="carousel-item">
          <%= render 'components/thirdpartycard' %>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <hr></hr>
  <div class="m-3">
    <a class="twitter-timeline" data-lang="en" data-width="375" data-height="450" href="https://twitter.com/Bitcoin?ref_src=twsrc%5Etfw">Tweets by Bitcoin</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>

</div>

