<div class="primary-container-newsfeed">
  <div class="mx-3 my-4 py-5">
    <p id="notice"><%= notice %></p>

    <%= image_tag @photo.image_url %>

    <p>
      <strong>Image data:</strong>
      <%= @photo.image_data %>
    </p>

    <%= link_to 'Edit', edit_photo_path(@photo) %> |
    <%= link_to 'Back', photos_path %>
  </div>
</div>
