<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @foto.title %>
</p>

<p>
  <strong>Image data:</strong>
  <%= @foto.image_data %>
</p>

<%= link_to 'Edit', edit_foto_path(@foto) %> |
<%= link_to 'Back', fotos_path %>
